<html>
	<head>
		<meta charset="utf-8" />
		<title>设置抽奖信息</title>
	</head>
	<body>
		<form method="post">
			请输入奖项个数<input
				type="text"
				name="prize_number"
				id="prize_number"
			/>
			<button type="button" name="continue" onclick="set_prize()">
				继续
			</button>
			<div id="prize_settings"></div>
			<div id="participant_settings"></div>
		</form>
		<script type="text/javascript">
			function set_prize() {
				var prize_number = parseInt(
					document.getElementById("prize_number").value
				);
				console.log(prize_number);
				for (var i = 1; i <= prize_number; i++) {
					var mytype,
						TemO = document.getElementById("prize_settings");
					var title = document.createElement("h4");
					title.innerHTML = i + "等奖项数量设置";
					TemO.appendChild(title);
					var newInput = document.createElement("input");
					newInput.setAttribute("type", "text");
					newInput.setAttribute("name", "prize_" + i);
					newInput.setAttribute("id", "prize_" + i);
					newInput.setAttribute("value", "0");
					TemO.appendChild(newInput);
					var newline = document.createElement("br");
					TemO.appendChild(newline);
				}
				var mytype,
					TemO = document.getElementById("prize_settings");
				var button = document.createElement("button");
				button.setAttribute("type", "button");
				button.setAttribute("name", "continue");
				button.setAttribute("onclick", "set_participant()");
				button.innerHTML = "继续";
				TemO.appendChild(button);
			}
			function set_participant() {
				var prize_number = parseInt(
					document.getElementById("prize_number").value
				);
				for (var i = 1; i <= prize_number; i++) {
					
				}
			}
		</script>
	</body>
</html>
